clean_arm_builder.sh

*.py[cod]
*.pyc

# Scons

.sconsign.dblite

# VIM temporary files
*~
*.swp
*.swo

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
